<div class="cartBox">
  <button
    [disabled]="!canAdd"
    class="btn btn-success my-3"
    routerLink="/orders/orders-list/add-order"
  >
    New Order
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>creation date:</th>
        <th>Operation description:</th>
        <th>Start date:</th>
        <th>End date:</th>
        <th>progress:</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- date: "longDate" -->
      <tr *ngFor="let item of listOfOrders; let i = index">
        <td>{{ item.creationDate | date: "longDate" }}</td>
        <td>{{ item.operationDescription }}</td>
        <td>{{ item.startDate | date: "longDate" }}</td>
        <td>{{ item.endDate | date: "longDate" }}</td>
        <td class="text-info">{{ item.progress }}%</td>

        <td class="d-flex align-items-start">
          <button
            [disabled]="!canAdd"
            class="btn btn-info"
            routerLink="/orders/orders-list/add-order/{{ item.id }}"
          >
            Edit
          </button>
          <button
            [disabled]="!canAdd"
            class="btn btn-danger mx-1"
            (click)="onDelete(i)"
          >
            Delete
          </button>
          <button
            routerLink="/orders/orders-list/details/{{ item.id }}"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#staticBackdrop"
          >
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-success" *ngIf="showMsg" role="alert">
  <strong>Well done!</strong> Your Order is Successfully Send
</div>
