<div class="screen-holder">
  <div class="mt-5">
    <div class="prog">
      <h3>{{ currentOrder.operationDescription }} :</h3>
      <div class="">
        <h3 class="text-danger">
          <span class="text-light">Progress :</span>
          {{ currentOrder.progress }}%
        </h3>
        <div class="d-flex">
          <div
            class="d-flex justify-content-start align-items-center"
            *ngIf="showInputProgress"
          >
            <input
              class="form-control input-progress"
              type="number"
              [(ngModel)]="currentOrder.progress"
            />
            <button
              class="btn mx-2 btn-success"
              (click)="showInputProgress = false"
            >
              Save
            </button>
          </div>

          <button
            class="btn btn-info"
            [disabled]="canAdd"
            (click)="showInputProgress = true"
          >
            Update Progress
          </button>
        </div>
      </div>
    </div>
    <div class="tablee text-align-center">
      <button
        (click)="onClickAdd()"
        [disabled]="!canAdd"
        class="add-btn btn mt-2 btn-success"
      >
        Add New Item
      </button>
      <table
        border="1"
        [cellPadding]="4"
        [cellSpacing]="2"
        class="styled-table"
      >
        <thead>
          <tr>
            <th scope="col">Work Item</th>
            <th scope="col">Location</th>

            <th scope="col">Description</th>

            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of detailsOrders; let i = index">
            <td>{{ item.workItem }}</td>
            <td>{{ item.location.name }}</td>
            <td>{{ item.description }}</td>

            <td class="">
              <button
                [disabled]="!canAdd"
                class="btn btn-danger"
                (click)="deleteItem(i)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-info" (click)="onClickBackToHome()">
        All Orders
      </button>
    </div>
  </div>

  <div class="formss" *ngIf="showAddBtn">
    <div class="mt-5 col-8 mx-auto">
      <form class="mb-5" [formGroup]="form">
        <div>
          <div>
            <label>Work Item*</label>
            <input
              type="text"
              placeholder="Work Item "
              formControlName="workItem"
              class="form-control"
              name=""
              id=""
            />
          </div>

          <div class="select">
            <app-drop-down-location
              (selctedValue)="getSelect($event)"
              [title]="'Select Location'"
              [data]="listOfLocations"
            ></app-drop-down-location>
          </div>

          <div>
            <label for=""> Description</label>
            <div class="">
              <textarea
                placeholder="Enter more description for details "
                formControlName="description"
                class="form-control"
                name=""
                id=""
              ></textarea>
            </div>
          </div>

          <div class="mt-2">
            <button
              [disabled]="form.invalid"
              class="btn btn-success"
              (click)="onClickaddOrder()"
            >
              Add Order
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
