.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #985800;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  font-weight: bold;
  color: #985800;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #985800;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table thead tr {
  background-color: #985800;
  color: #ffffff;
  text-align: left;
}
.styled-table {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.btns-holder {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-btn {
  margin-left: 375px;
}
.input-progress {
  width: 80px !important;
}

label {
  font-weight: bold;
}
input,
textarea {
  font-weight: bold;
  background-color: black;
  color: white;
}

input:focus,
textarea:focus {
  font-weight: bold;
  background-color: #022720;
  color: rgb(70, 68, 240);
}
input::placeholder,
textarea::placeholder {
  font-weight: normal;
}
