.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #985800;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  font-weight: bold;
  color: #985800;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #985800;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table thead tr {
  background-color: #985800;
  color: #ffffff;
  text-align: left;
}
.styled-table {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.btns-holder {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prog {
  text-align: center;
}
.input-progress {
  width: 80px !important;
}
textarea:focus {
  background-color: black;
}

label {
  font-weight: bold;
}
input,
textarea {
  font-weight: bold;
  background-color: black;
  color: rgb(187, 3, 3);
}

input:focus,
textarea {
  font-weight: bold;
  background-color: #022720;
  color: rgb(70, 68, 240);
}
input::placeholder {
  font-weight: normal;
}
.error {
  display: block;
  color: red;
  padding: 10px 30px;
  font-size: 25px;
  font-weight: bold;
  border: 2px sold red;
}
.welcome-add {
  padding: 10px 50px;
  font-size: 25px;
  font-weight: bolder;
  color: #046955;
  border: 3px solid #046955;
  width: fit-content;
  margin-left: 300px;
}
.welcome-edit {
  padding: 10px 50px;
  font-size: 25px;
  font-weight: bolder;
  color: #27ae60;
  border: 3px solid #27ae60;
  width: fit-content;
  margin-left: 300px;
}
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 8px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
.donee {
  background-color: green !important;
}
.done {
  color: green;
  padding: 10px 30px;
  font-size: 25px;
  font-weight: bold;
  border: 2px sold green;
}

.button-69 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #e62143;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 8px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;

  margin-left: 5px;
}

.button-69:hover {
  background-color: #ca0223;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.button-69:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-69:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
