<div class="mt-5">
  <div class="tablee text-align-center">
    <table border="1" [cellPadding]="4" [cellSpacing]="2" class="styled-table">
      <thead>
        <tr>
          <th scope="col">Name</th>

          <th scope="col">Description</th>
          <th class="prog" scope="col">Progress</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ currentOrder.location.name }}</td>
          <td>{{ currentOrder.description }}</td>
          <td class="prog">{{ currentOrder.progress | percent }}</td>
          <td class="btns-holder">
            <button class="btn mx-4 btn-primary">Edit</button>
            <button class="btn btnn btn-success">Add</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-info" (click)="onClickBackToHome()">
      All Orders
    </button>
  </div>
</div>
