label {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.699);
}
textarea {
  padding: 20px;
}
input,
textarea {
  font-weight: bold;
  background-color: black;
  color: rgb(255, 255, 255);
}

input:focus,
textarea:focus {
  font-weight: bold;
  background-color: #022720;
  color: rgb(70, 68, 240);
}
input::placeholder,
textarea::placeholder {
  font-weight: normal;
}
