<div class="mt-5 col-8 mx-auto">
  <form class="mb-5" [formGroup]="form">
    <div>
      <div>
        <label>Operation Description:</label>
        <textarea
          placeholder="Enter the description about this Operation "
          formControlName="operationDescription"
          class="form-control"
          name=""
          id=""
        ></textarea>
      </div>

      <div class="">
        <label for="">Enter Start Date</label>
        <div>
          <input type="date" class="form-control" formControlName="startDate" />
        </div>
      </div>
      <div>
        <label for="">Enter End Date</label>
        <div class="">
          <input type="date" class="form-control" formControlName="endDate" />
        </div>
      </div>
      <div>
        <label for=""> More Description</label>
        <div class="">
          <textarea
            placeholder="Enter more description for details "
            formControlName="description"
            class="form-control"
            name=""
            id=""
          ></textarea>
        </div>
      </div>

      <div class="mt-2">
        <button
          class="btn btn-success"
          [disabled]="form.invalid"
          (click)="onClickadd()"
        >
          Add Order
        </button>
      </div>
    </div>
  </form>
</div>
